body{
   background-color: rgb(245, 244, 230);
}
.masina-css{
    color:rgb(129, 110, 2)
}
.inceput-css{
    color: red;
}
.automobil-css{
    color: red;
}
.locatie-css{
    color: red;
}
.model-css{
    color: red;
}
.Lamborghini-css{
    color:red
}
.alt-css{
    color: red;
}
.inceputuri-css{
    color: rgb(138, 80, 4)
}
.aparitia-css{
    color:rgb(138, 80, 4) ;
}
.anii-css{
    color: rgb(138, 80, 4);
}
.Viitorul-css{
    color: rgb(138, 80, 4);
}
.taur-css{
    color: rgb(138, 80, 4);
}